.container {
	position: relative;
	width: 85%;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 7.5%;
	padding-right: 7.5%;
	height: 96%;
}
.row {
	display: table;
	table-layout: fixed;
}
.inner-Component {
	width: 100%;
	height: 100%;
}
.logos {
	height: 100%;
	position: relative;
	font-size: 0px;
	margin: auto;
}
.section-title {
	width: 100%;
	height: 10%;
	position: relative;
	background-color: #a970ff;
	font-size: 4em;
	text-align: center;
}

.card-description-text {
	padding-top: 3%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 3%;
}
.main-card {
	display: table;
	position: relative;
	margin: auto;
	top: 10%;
	height: 80%;
	width: 80%;
	bottom: 10%;
	border: 1px solid black;
	box-shadow: 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
	overflow: hidden;
}
.main-card-img {
	border-right: 1px solid black;
	display: table-cell;
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 55%;
}

.card-img {
	height: 100%;
	width: auto;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}
.card-description {
	background-color: white;
	display: table-cell;
	position: absolute;
	width: 45%;
	font-size: 30px;
	height: 100%;
	overflow-y: scroll;
}

@media (max-width: 800px), (max-height: 800px) {
	.card-description {
		font-size: 20px;
	}
}
@media (max-width: 600px), (max-height: 600px) {
	.card-description {
		font-size: 12px;
	}
}
@media (max-width: 400px), (max-height: 400px) {
	.card-description {
		font-size: 8px;
	}
}
